.btn-skill {
  border: none;
  background-color: #3c8891;
  border-radius: var(--main-border-radius);
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-right: 10px;
  margin-bottom: 10px;
}
.btn-skill span {
  margin-left: 5px;
}
.btn-skill svg {
  margin-left: 5px;
  cursor: pointer;
}

.skill-icon {
  width: 20px;
  height: 20px;
}
.skills-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.skills-label select {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid #3c8891;
  border-radius: var(--main-border-radius);
  padding: 10px;
  cursor: pointer;
}
.skills-label select option {
  background-color: white;
  color: black;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
}
