.section {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.section.disclosure {
  flex-direction: column;
  height: auto;
}
.section .label {
  display: flex;
}
.button-disclosure {
  background-color: transparent;
  width: 40%;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.button-disclosure h2 {
  margin: 0 10px;
}
.disclosure-edit {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.7em;
}
.disclosure-content {
  margin-top: 20px;
  font-size: 0.7em;
  height: auto;
}

.arrow {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.rotate-90 {
  transform: rotate(90deg);
}


.edit-input input {
  border: 1px solid #000000;
  border-radius: 7px;
}
.edit-input textarea {
  border: 1px solid #000000;
  border-radius: 7px;
}
.edit-input .user-info-pic {
  border: 1px solid #000000;
}
.edit-input .job-image {
  border: 1px solid #000000;
}
.edit-input #otw {
  border: 1px solid #000000;
}
