.section {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.section.disclosure {
  flex-direction: column;
  height: auto;
}
.section .label {
  display: flex;
}
.section.disclosure button {
  background-color: transparent;
  width: 40%;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section.disclosure button h2 {
  margin: 0 10px;
}
.disclosure-edit {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.7em;
}
.disclosure-content {
  margin-top: 20px;
  background: rgba(71, 145, 154, 0.04);
  border-radius: var(--main-border-radius);
  padding: 20px;
  font-size: 0.7em;
  height: auto;
}

.arrow {
  transition: transform 0.2s ease-in-out;
}
.rotate-180 {
  transform: rotate(180deg);
}