.logo {
    width: 100px;
}
.dashboard-container {
    display : flex;
    justify-content: center;
}
.search-bar {
    width : 60%;
    height: 45px;
    border-radius: 44px;
    padding: 20px;
    background-image: url(../Assets/DM-Logo.png);
    
}