.companies-display {
  display: flex;
  min-height: 150px;
  width: 100%;
  background: rgba(125, 199, 208, 0.2);
  border-radius: var(--main-border-radius);
  align-items: center;
  justify-content: center;
}
.inner-company-display {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.inner-company-display button {
  margin: 10px;
  font-size: 0.8em;
  cursor: initial;
}
.inner-company-display button svg {
  margin-left: 5px;
  color: black;
  font-size: 1.4em;
  cursor: pointer;
}

.create-company-con {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: var(--main-border-radius);
}
.create-company-con form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.create-company-con form input {
  margin-bottom: 10px;
  width: 50%;
  height: 40px;
  border: none;
  background-color: #dee2e6;

  border-radius: var(--main-border-radius);
  text-align: center;
}
