.Promotions-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotions-body{
    width: 100%;
    height: 230px;
    background-color: rgba(125,199,208,0.2);
    border-radius: 44px;
}

.promotions-title{
    width: 47%;
    height: 40px;
    background-color: #3C8891;
    border-radius: 44px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotions-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;


    /* overflow-y: hidden;
    overflow-x: scroll; */
}

.promo-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 30px;


}

.promotions-cards-card{
    width: 160px;
    height: 170px;
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
}

.promo-card-photo{
    /* width: 130px;
    height: 140px;
    border-radius: 50px; */

    width: 130px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    border-radius: 50%;

}
