.promotion-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: rgba(125, 199, 208, 0.2);
  border-radius: var(--main-border-radius);
  height: auto;
}

.promotion-con-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}
.btn.prom.coach {
  cursor: initial;
  width: auto;
  font-size: 1em;
}
.btn.prom.coach select {
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
}
.promotion-con-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 20px;
}
.learner {
  height: 150px;
  width: 120px;
  display: flex;
  flex-direction: column;
  margin: 0 10px 20px 10px;
}
.learner-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
}
.prof-pic {
  height: 100%;
  width: 100%;
  border-radius: var(--main-border-radius);
  background-color: blue;
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
}
.learner-bottom {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prof-pic svg {
  transform: translate(8px, -8px);
  cursor: pointer;
}
.add-button-con {
  display: flex;
  font-size: 0.9em;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}
.add-button-con select {
  border: none;
  background-color: transparent;
  outline: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.9em;
}
.create-promotion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.create-promotion form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;

  font-size: 0.9em;
}
.create-promotion input {
  border: none;
  border-radius: var(--main-border-radius);
  background-color: #dee2e6;
  outline: none;
  padding: 5px;
  text-transform: uppercase;
  font-weight: normal;
}
.btn.create {
  margin-left: 10px;

  width: auto;
  height: auto;
  padding: 5px;
}
