.Promotions-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotions-body{
    width: 100%;
    height: 260px;
    background-color: rgba(125,199,208,0.2);
    border-radius: 44px;
}

.promotions-title{
    width: 47%;
    height: 40px;
    background-color: #3C8891;
    border-radius: 44px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotions-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
}

.promo-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.promotions-cards-card{
    width: 160px;
    height: 190px;
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.promo-card-photo{
    width: 130px;
    height: 135px;
    border-radius: 50%;
}

.promo-card-info {
    width: 140px;
    padding: 5px;
    border-radius: 44px;
    border: 1px solid #3C8891;
    margin-top: 5px;
    text-align: center;
}